@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600,&display=swap);

*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #666666;
}
a:hover {
    color: #cf2f1d;
}

ul, li {
    list-style: none;
}

html, body {
    height: 100%;
    min-width: 320px;
}

body {
    padding: 40px 0;
    line-height: 1;
    font-family: Poppins;
    color: #666666;
    background-color: #e3e1e1;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

[class*='__container'] {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
[class*='__page'] {
    background-color: #fff;
}
/* ---- assets ------------------------------------------------ */
hr {
    width: 100px;
    margin: 0 auto;
    border: .5px solid #cf2f1d;
}
.title {
    color: #666666;
    font-size: 35px;
}
.page {
    flex: 1 1 auto;
}
.button {
    background-color: #cf2f1d;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    font-size: 18px;
}
@media (max-width: 426px) {
    .title {
        font-size: 20px;
    }
}

/* ---- header ------------------------------------------------ */
.header__container {
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.header {
    max-width: 1200px;
    background-color: #202021;
    width: 100%;
}
.nav__ul {
    display: flex;
    justify-content: center;
    min-height: 70px;
}
.nav__ul__element {
    display: flex;
    padding: 10px 10px;
    align-items: center;
    width: auto;

}
.nav__ul__element:hover {
    background-color: #cf2f1d;
}
.nav__link {
    color: #fff;
    word-wrap: unset;
}
.nav__link:hover {
    color: #fff;
}

@media (max-width: 537px) {
    .header__container .header__nav .nav__ul .nav__ul__element .nav__link {
        font-size: 11px;
    }
}
/* ----page1------------------------------------------- */

.main__container {
    max-height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 75px;
    padding-bottom: 75px;
}
.main__container .main__content {
    display: flex;
    flex-direction: column;

    max-width: 620px;
    gap: 20px;
}
.main__container .main__content .main__title {
    font-size: 50px;
    letter-spacing: 5.5px; 
    line-height: 60px;
    color: #000;
    font-weight: 600;
}
.main__container .main__content .main__p {
    max-width: 450px;
    font-weight: 100;
    line-height: 25px;
}
.main__container .main__content .main__button {
    margin-top: 30px;
    width: 235px;
    height: 40px;
}
.main__container .main__video {
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 620px;
    width: 100%;
    max-width: 520px;
    background-color: #ccc0b4;
}
.main__video
{

    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.main__video:before, .main__video:after
{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.main__video:after
{
  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.main__container .main__video img {
    width: 50px;
    height: 50px;
    fill: #fff;
}
@media  (max-width: 769px) {
    .main__container {
        flex-direction: column;
        min-height: 800px;
        gap: 50px;
    }
    .main__container .main__video {
        min-height: 300px;
        min-width: calc(100% - 40px);
        margin: 0 auto;
    }
}
@media (max-width: 537px) {
    .main__container {
        padding-top: 40px;
        padding-bottom: 40px;
        min-height: 550px;
    }
    .main__container .main__content .main__title {
        font-size: 30px;
        line-height: 40px;
        letter-spacing: 4px;
    }
    .main__container .main__content .main__p {
        font-size: 13px;
        line-height: 20px;
    }
    .main__container .main__video {
        min-height: 200px;
    }
}
/* ----page2------------------------------------------- */
.second__page {
    flex: 1 1 auto;
}
.second__page .main__container {
    border-bottom: 1px solid rgb(180, 178, 178);
}
.second__page .main__container .second__page__button {
    border: 2px solid #cf2f1d;
    border-radius: 3px;
    color: #cf2f1d;
    background-color: #fff;
    width: 235px;
    height: 40px;
    margin-top: 30px;
    font-size: 18px;
}
.grid__one {
    grid-area: g1;
}
.grid__two {
    grid-area: g2;
}
.grid__three {
    grid-area: g3;
}
.grid__four {
    grid-area: g4;
}

.second__page .main__container .main__grid {
    display: grid;
    gap: 20px 10px;
    grid-template-areas: 'g1 g2'
                         'g3 g4';
}
.second__page .main__container .main__grid .grid__box {
    max-width: 280px;
    width: 100%;
}

.second__page .main__container .main__grid .grid__box .box__title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}
.second__page .main__container .main__grid img {
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
}
@media (max-width: 426px) {
    .second__page .main__container .main__grid img {
        width: 30px;
    }
    .second__page .main__container .main__grid .grid__box .box__title {
        font-size: 16px;
    }
}

/* ---- third ------------------------------------------ */

.third__page {
    flex: 1 1 auto;
}
.third__page .main__container {
    text-align: center;
}

.third__page .main__container .third__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.third__page .main__container .third__content .third__page__top-title {
    max-width: 600px;
}
.third__page .main__container .third__content .third__page__top-title .main__p {
    padding-top: 15px;
    font-size: 12px;
    max-width: 520px;
    line-height: 24px;
    padding-bottom: 20px;
}

.third__page .main__container .third__content .third__page-content {
    margin-top: 60px;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.third__page .main__container .third__content .third__page-content .third__page-ul {
    display: flex;
    gap: 0 35px;
}
.third__page .main__container .third__content .third__page-content .third__page-flex-content {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px 0;
}
.third__page .main__container .third__content .third__page-content .third__page-flex-content .box {
    width: 290px;
    height: 290px;
    background-color: #edebd5;
}
@media (max-width: 769px) {
    .third__page .main__container .third__content .third__page-content .third__page-flex-content {
        gap: 15px 15px;
        justify-content: center;
    }
    .third__page .main__container .third__content .third__page-content .third__page-ul {
        gap: 20px;
    }
}
@media (max-width: 321px) {
    .third__page .main__container .third__content .third__page-content .third__page-ul {
        gap: 15px;
    }
    .third__page .main__container .third__content .third__page-content .third__page-ul li a {
        font-size: 11px;
    }
}
/* ---- four ----------------------- */
.four__page .main__container .main__content hr {
    margin: 0;
}
.four__page .main__container {
    flex-direction: column;
}
.four__page .main__container .four__content {
    margin-top: 40px;
    display: flex;
    gap: 0 40px;
}
.four__page .main__container  .four__content .four__page-left {
    width: 300px;
    height: 450px;
    background-color: #edebd5;
}
.four__page .main__container  .four__content .four__page-right {
    margin-left: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px 0;
    min-height: 100%;
}

.four__page .main__container  .four__content .four__page-right .right__title {
    display: flex;
    flex-direction: column;
    gap: 40px 0;
    max-width: 600px;
}

.four__page .main__container  .four__content .four__page-right .right__title .four__page-ul {
    display: flex;
    gap: 0 20px;
}
.four__page .main__container  .four__content .four__page-right .right__flex-content {
    flex-wrap: wrap-reverse;
    display: flex;
    gap: 10px 10px;
    bottom: 0;
}
.four__page .main__container  .four__content .four__page-right .right__flex-content .box {
    position: relative;
}

.four__page .main__container  .four__content .four__page-right .right__flex-content .box .content_bx {
    width: 200px;
    height: 200px;
    background-color: #edebd5;
}

.four__page .main__container  .four__content .four__page-right .right__flex-content .box .bx_p {
    width: 200px;
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    background-color: #2020218e;
    display: none;
}
.four__page .main__container  .four__content .four__page-right .right__flex-content .box:hover .bx_p {
    display: block;
}
@media (max-width: 768px) {
    .four__page .main__container  .four__content .four__page-left {
        display: none;
    }
    .four__page .main__container  .four__content .four__page-right {
        margin: 0;
    }
    .four__page .main__container  .four__content .four__page-right .right__flex-content {
        justify-content: center;
    }
    .four__page .main__container  .four__content .four__page-right .right__title .four__page-ul {
        gap: 0 10px;
    }
}
/* ---- five ------------------------------------------- */
.five__page {
    background-color: #edebd5;
}
.five__page .main__container {
    justify-content: center;
}
.five__page .main__container .main__content {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
    max-width: 100%;
    align-items: center;
    color: #fff;
}
.five__page .main__container .main__content h2 {
    font-size: 35px;
}
.five__page .main__container .main__content p {
    font-size: 12px;
}
.five__page .main__container .main__content .five__page-form {
    margin-top: 20px;
    background-color: #edebd5;
    display: flex;
    gap: 0 20px;
    max-width: 550px;
    height: 45px;
    width: 100%;
}
.five__page .main__container .main__content .five__page-form input {
    padding-left: 25px;
    border-radius: 3px;
    width: 100%;
}
.five__page .main__container .main__content .five__page-form button {
    padding: 10px;
    width: 200px;
    font-size: 12px;
}
@media (max-width: 768px) {
    .five__page .main__container {
        min-height: 400px;
    }
}
@media (max-width: 426px) {
    .five__page .main__container {
        min-height: 300px;
    }
    .five__page .main__container .main__content h2 {
        font-size: 20px;
    }
}
/* ---- page6 ----------------------------------------------- */

.six__page .main__container {
    flex-direction: column;
}
.six__page .main__container .main__content {
    gap: 35px 0;
}
.six__page .main__container .main__content hr {
    margin: 0;
}
.six__page .main__container .main__content .main__p {
    max-width: 620px;
}
.six__page .main__container .six__content {
    flex-wrap: wrap;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.six__page .main__container .six__content .six-form {
    max-width: 620px;
    width: 100%;
    display: flex;
    gap: 30px 0;
    flex-direction: column;
}
.six__page .main__container .six__content .six-form  .message__input {
    width: 100%;
    height: 200px;
    padding-left: 25px;
    padding-top: 15px;
    resize: none;
    background-color: rgb(222, 221, 221);
    border-radius: 5px;
}
.six__page .main__container .six__content .six-form .inputs {
    display: flex;
    gap: 0 30px;
    height: 40px;
}
.six__page .main__container .six__content .six-form .inputs input {
    padding-left: 25px;
    width: 100%;
    background-color: rgb(222, 221, 221);
    border-radius: 5px;
}
.six__page .main__container .six__content .six-form .button {
    height: 40px;
    font-size: 14px;
}
.six__page .main__container .six__content .six-absolute-content {
    padding: 10px 50px;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: translate(100%, 0);
    min-height: 100%;
    width: 60%;
    background-color: #202021;
}
.six__page .main__container .six__content .six-absolute-content .content {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
    color: #fff;
}
.six__page .main__container .six__content .six-absolute-content .content h4 {
    font-size: 14px;
}
.six__page .main__container .six__content .six-absolute-content .content p {
    font-size: 10px;
}
@media (max-width: 1024px) {
    .six__page .main__container .six__content {
        justify-content: center;
        gap: 30px 0;
    }
    .six__page .main__container .six__content .six-absolute-content {
        position: initial;
        transform: translate(0  , 0);
    }
    .six__page .main__container .six__content .six-form {
        max-width: none;
    }
    .six__page .main__container .six__content .six-absolute-content {
        width: 100%;
    }
}
/* FOOOOOOOOOOOOOTER */
.footer {
    padding: 10px;
    min-height: 70px;
    background-color: #202021;
}
.footer__container {
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.footer .footer-right {
    display: flex;
    align-items: center;
    gap: 0 15px;
}
.footer .footer-right img {
    background-color: #fff;
    border-radius: 50%;
    padding: 1px;
    width: 30px;
    height: 30px;
}
